* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	--clight: #ebe0ce;
	--cmidlight: #b4aca1;
	--cmiddle: #827b72;
	--cmiddark: #585149;
	--cdark: #25221e;
	--caccent: #b98917;
	--border-thickness: 3px;
}

body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	background-color: var(--cdark);
}

.center-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#main {
	height: 100%;
}

#menu {
	width: min(90vw, 500px);
	gap: 15px;
}

h1 {
	text-align: center;
	font-size: min(3.5rem, 12vw);
	font-family: "DM Serif Text", serif;
	font-weight: 400;
	color: var(--clight);
}

#title-blob {
	width: min(90vw, 400px);
	height: 30px;
	position: relative;
	bottom: 25px;
	margin-bottom: 10px;
	background-color: var(--cmiddark);
	border-radius: 100px;
	z-index: -1;
}

#door-container {
	width: 100%;
	display: flex;
	gap: 5px;
}

.door {
	background-color: var(--cdark);
	border: var(--border-thickness) solid var(--cmiddark);
	width: 100px;
	height: 110px;
	overflow: hidden;
	border-radius: 5px;
	flex-grow: 1;
}

.boxes {
	transition: transform 1s ease-in-out;
}

.box {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: "Libre Baskerville", serif;
	padding: 5px;
	font-size: 0.9rem;
	color: var(--clight);
	&.faded {
		color: var(--cmiddle);
	}
}

.buttons {
	width: 80%;
	display: flex;
	justify-content: center;
	gap: 5px;
}

button {
	flex-grow: 1;
	cursor: pointer;
	font-size: 1.3rem;
	margin: 0;
	border: none;
	border-radius: 5px;
	padding-block: 10px;
	font-family: "Source Sans 3", sans-serif;
}

button:focus {
	/* removes the weird blue click effect on mobile */
	-webkit-tap-highlight-color: transparent;
}

#spinner {
	width: 50%;
	background: var(--caccent);
	color: var(--clight);
	position: relative;
	&:active {
		top: 3px;
		background: var(--clight);
		color: var(--caccent);
	}
}

/* enable hover only for computers */
@media (hover: hover) {
	#spinner:hover {
		background: var(--clight);
		color: var(--caccent);
	}
}

/*-- change input button appearance --*/
/* remove number buttons in WebKit and Blink */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* and in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
	appearance: textfield;/* not sure whether to add this */
}

.num-input-wrapper {
	width: 50%;
	display: flex;
}

.value-control {
	margin: 0;
  background: var(--clight);
  color: #3b3b3b;
  cursor: pointer;
	text-align: center;
	&:hover {
		background: var(--cmidlight);
	}
	&:active {
		background: var(--cmiddle);
	}
	/* shave off parts of the border radius depending on what side the button is on */
	&[side="left"] {
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
	}
	&[side="right"] {
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
	}
}

.value-input {
	background: var(--clight);
  margin: 0;
	border: none;
  text-align: center;
	padding-inline: 10px;
	font-size: 1rem;
}
